server:
  port: 8080

spring:
  application:
    name: ead-api-gateway

#há duas forma de definir as rotas no API Gateway, através de classes de configuração
#e através properties (que será usado abaixo)
#Definição de rotas para os respectivos microservices
  cloud:
    gateway:
      routes:
        # Rota para o auth user service
        - id: authuser-service
          uri: http://localhost:8087/
          predicates:
            - Path=/ead-authuser/**
        # Rota para o course service
        - id: course-service
          uri: http://localhost:8082/
          predicates:
            - Path=/ead-course/**

# Tracing das requisições - consigo ver como o API
# Gateway faz o roteamento das requisições para
# o respectivo serviço capaz de atender a requisição
logging:
  level:
    org:
      springframework:
        cloud:
          gateway: TRACE